In [10]:
import pandas as pd
df=pd.read_csv('train_indessa.csv')

In [11]:
# sure shot dropping
df.drop(['mths_since_last_delinq','mths_since_last_major_derog','mths_since_last_record','desc',
         'verification_status_joint','batch_enrolled','sub_grade','title','zip_code','addr_state',
        'emp_title'],axis=1,inplace=True)

In [12]:
df.isnull().sum()

member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
grade                             0
emp_length                    26891
home_ownership                    0
annual_inc                        3
verification_status               0
pymnt_plan                        0
purpose                           0
dti                               0
delinq_2yrs                      16
inq_last_6mths                   16
open_acc                         16
pub_rec                          16
revol_bal                         0
revol_util                      287
total_acc                        16
initial_list_status               0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
collections_12_mths_ex_med       95
application_type                  0
last_week_pay                     0
acc_now_delinq                   16
tot_coll_amt                  42004
tot_cur_bal                   42004
total_rev_hi_lim              42004
loan_status                       0
dtype: int64

In [7]:
df['total_rev_hi_lim']

0         30800.0
1         32900.0
2         34900.0
3         24700.0
4         47033.0
           ...
532423    24800.0
532424    17800.0
532425    24200.0
532426    23300.0
532427    21700.0
Name: total_rev_hi_lim, Length: 532428, dtype: float64

In [16]:
df['tot_cur_bal'].value_counts()

0.0         78
14511.0     17
19998.0     15
27316.0     15
5537.0      15
            ..
74511.0      1
298043.0     1
74510.0      1
74509.0      1
262519.0     1
Name: tot_cur_bal, Length: 251640, dtype: int64

In [17]:
df['emp_length'].value_counts()

10+ years    175105
2 years       47276
< 1 year      42253
3 years       42175
1 year        34202
5 years       33393
4 years       31581
7 years       26680
8 years       26443
6 years       25741
9 years       20688
Name: emp_length, dtype: int64

In [28]:
df[df['last_week_pay'].isnull()]

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,grade,emp_length,home_ownership,annual_inc,...,recoveries,collection_recovery_fee,collections_12_mths_ex_med,application_type,last_week_pay,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status
21,1699807,12400,12400,12400.0,36 months,6.62,A,2.0,OWN,40000.0,...,712.76,7.0300,0.0,INDIVIDUAL,NaN,0.0,NaN,NaN,NaN,0
37,72929339,10000,10000,10000.0,60 months,14.85,C,10.0,MORTGAGE,45000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,176391.0,37100.0,0
77,72539472,20000,20000,20000.0,36 months,13.18,C,8.0,MORTGAGE,84000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,405177.0,40200.0,0
92,15349020,1500,1500,1500.0,36 months,14.64,C,2.0,RENT,40000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,24895.0,0.0,0
107,72868375,35000,35000,35000.0,36 months,7.89,A,5.0,MORTGAGE,180000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,261143.0,130300.0,0
202,73039883,12000,12000,12000.0,36 months,6.99,A,0.0,RENT,100000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,18613.0,38050.0,0
204,64213000,20875,20875,20850.0,60 months,28.49,G,10.0,OWN,58000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,28773.0,12700.0,0
281,72489222,12000,12000,11750.0,36 months,8.38,B,0.0,RENT,33500.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,39752.0,29500.0,0
328,73070359,15600,15600,15550.0,60 months,17.97,D,4.0,RENT,53000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,41139.0,23500.0,0
406,72418982,16000,16000,16000.0,36 months,9.76,B,6.0,RENT,250000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,129420.0,56900.0,0
436,73385703,7000,7000,7000.0,36 months,7.91,A,8.0,MORTGAGE,53185.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,216288.0,51600.0,0
539,72040457,8000,8000,8000.0,36 months,11.22,B,7.0,MORTGAGE,35000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,55869.0,6800.0,0
563,71360314,10000,10000,10000.0,60 months,12.59,C,6.0,RENT,50000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,1558.0,45336.0,18100.0,0
666,73483760,7200,7200,7200.0,36 months,9.17,B,10.0,MORTGAGE,60000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,92482.0,36200.0,0
704,71238620,11000,11000,11000.0,60 months,14.48,C,0.0,RENT,35000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,122956.0,9900.0,0
764,72147627,14000,14000,14000.0,60 months,12.59,C,5.0,RENT,56750.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,136494.0,21600.0,0
835,70538319,15000,15000,15000.0,60 months,13.18,C,NaN,MORTGAGE,50000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,314302.0,19500.0,0
841,71310643,9000,9000,9000.0,36 months,5.32,A,7.0,RENT,35000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,19750.0,43500.0,0
886,72070144,6500,6500,6500.0,36 months,11.22,B,NaN,OWN,30000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,63337.0,9900.0,0
919,72787262,7475,7475,7475.0,36 months,17.57,D,7.0,RENT,22000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,64.0,29222.0,15200.0,0
944,72837791,11000,11000,11000.0,36 months,9.80,B,0.0,RENT,42000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,72180.0,8000.0,0
969,72728189,20000,20000,20000.0,36 months,9.17,B,1.0,MORTGAGE,85000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,242372.0,73525.0,0
995,70374266,25000,25000,25000.0,60 months,20.99,E,10.0,MORTGAGE,150000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,349168.0,19800.0,0
1015,70965119,15075,15075,15050.0,60 months,20.99,E,10.0,MORTGAGE,69000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,263842.0,12840.0,0
1076,72877562,5000,5000,5000.0,36 months,11.99,C,8.0,RENT,60000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,25027.0,21100.0,0
1177,72448899,13000,13000,13000.0,60 months,7.89,A,10.0,RENT,62800.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,39553.0,76000.0,0
1325,72748236,23400,23400,23400.0,36 months,7.89,A,3.0,RENT,78500.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,72649.0,18700.0,0
1334,72718802,13975,13975,13975.0,36 months,7.26,A,10.0,OWN,84000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,262923.0,66800.0,0
1353,73413439,8000,8000,8000.0,36 months,10.78,B,8.0,RENT,40000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,23389.0,15300.0,0
1455,72007323,24000,24000,24000.0,36 months,7.89,A,0.0,MORTGAGE,162000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,143117.0,30800.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531131,72509199,10350,10350,10350.0,36 months,6.89,A,10.0,MORTGAGE,135000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,61536.0,35600.0,0
531139,45148217,15000,15000,15000.0,36 months,13.99,C,3.0,MORTGAGE,50000.0,...,3276.44,589.7592,0.0,INDIVIDUAL,NaN,0.0,0.0,46100.0,42200.0,0
531155,72797984,25000,25000,25000.0,36 months,12.88,C,5.0,RENT,150000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,83131.0,23100.0,0
531229,72207078,6000,6000,6000.0,36 months,6.99,A,4.0,OWN,43000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,138579.0,37300.0,0
531253,13218465,11950,11950,11950.0,36 months,13.65,C,9.0,OWN,72000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,142679.0,19700.0,0
531271,72017254,12000,12000,12000.0,36 months,7.26,A,0.0,OWN,36000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,10677.0,36700.0,0
531483,73313412,6400,6400,6400.0,36 months,13.99,C,2.0,RENT,20000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,13257.0,200.0,0
531515,73169904,35000,35000,34950.0,60 months,18.49,D,10.0,MORTGAGE,95000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,105972.0,63200.0,0
531523,72180330,6000,6000,6000.0,36 months,9.76,B,10.0,RENT,72000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,899.0,45993.0,28100.0,0
531593,72797971,28000,28000,28000.0,36 months,6.24,A,8.0,RENT,150000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,111263.0,60100.0,0
531612,71239442,35000,35000,34950.0,60 months,12.59,C,8.0,MORTGAGE,85000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,114152.0,41600.0,0
531738,73364808,4800,4800,4800.0,36 months,13.99,C,10.0,OWN,64000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,90179.0,28700.0,0
531765,72259626,10000,10000,10000.0,36 months,9.17,B,10.0,OWN,50000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,8623.0,17300.0,0
531776,72208391,16000,16000,16000.0,36 months,13.67,C,3.0,RENT,83000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,34352.0,51900.0,0
531808,70539806,5000,5000,5000.0,36 months,7.89,A,NaN,RENT,40000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,25879.0,24200.0,0
531817,73373789,11025,11025,11025.0,36 months,16.59,D,2.0,OWN,24000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,52185.0,8700.0,0
531819,73474324,8500,8500,8500.0,36 months,11.99,C,1.0,RENT,39000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,43713.0,13000.0,0
531942,70801440,24000,24000,24000.0,60 months,9.17,B,4.0,MORTGAGE,125000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,175947.0,24900.0,0
531982,72449103,8000,8000,8000.0,36 months,9.76,B,2.0,OWN,55000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,13374.0,36100.0,0
532058,71349049,31500,31500,31450.0,60 months,12.59,C,1.0,MORTGAGE,120000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,247620.0,22600.0,0
532095,73475210,21000,21000,21000.0,60 months,14.85,C,10.0,RENT,98000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,533288.0,89100.0,0
532118,73110064,20000,20000,20000.0,60 months,13.99,C,9.0,MORTGAGE,48651.2,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,56104.0,18400.0,0
532133,73283834,2000,2000,2000.0,36 months,16.59,D,5.0,OWN,96000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,95.0,39664.0,19900.0,0
532218,16732852,12075,12075,12075.0,60 months,15.31,C,0.0,RENT,67000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,175122.0,16800.0,0
532236,72887923,30000,30000,30000.0,60 months,9.76,B,5.0,MORTGAGE,84000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,91246.0,75300.0,0
532269,71320522,32200,32200,32200.0,60 months,18.99,E,10.0,RENT,70000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,70078.0,54500.0,0
532277,73518570,6950,6950,6950.0,36 months,13.99,C,10.0,MORTGAGE,20000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,575.0,64393.0,9100.0,0
532280,72738675,13600,13600,13600.0,60 months,19.48,E,6.0,MORTGAGE,247000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,285450.0,100500.0,0
532378,72768978,16000,16000,16000.0,60 months,27.88,G,9.0,MORTGAGE,40000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,158861.0,26900.0,0
532400,73414202,20000,20000,20000.0,36 months,9.17,B,4.0,MORTGAGE,94000.0,...,0.00,0.0000,0.0,INDIVIDUAL,NaN,0.0,0.0,69832.0,25900.0,0

In [20]:
df['emp_length'].replace('n/a', '0', inplace=True)
df['emp_length'].replace(to_replace='\+ years', value='', regex=True, inplace=True)
df['emp_length'].replace(to_replace=' years', value='', regex=True, inplace=True)
df['emp_length'].replace(to_replace='< 1 year', value='0', regex=True, inplace=True)
df['emp_length'].replace(to_replace=' year', value='', regex=True, inplace=True)

In [21]:
df['emp_length'].isnull().sum()

26891

In [22]:
df['emp_length'].value_counts()

10    175105
2      47276
0      42253
3      42175
1      34202
5      33393
4      31581
7      26680
8      26443
6      25741
9      20688
Name: emp_length, dtype: int64

In [23]:
df['emp_length'] = pd.to_numeric(df['emp_length'], errors='coerce')

In [36]:
df['last_week_pay'].median

TypeError: must be str, not int

In [40]:
df['last_week_pay'].fillna(df['last_week_pay'].median(), inplace=True)

In [26]:
df['last_week_pay'] = df['last_week_pay'].str.extract('(\d+)', expand=False)
df['last_week_pay'] = df['last_week_pay'].astype(int)

ValueError: cannot convert float NaN to integer

In [41]:
df['last_week_pay'] = df['last_week_pay'].astype(int)

In [61]:
df.isnull().sum()

member_id                      0
loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
term                           0
int_rate                       0
grade                          0
emp_length                     0
home_ownership                 0
annual_inc                     0
verification_status            0
pymnt_plan                     0
purpose                        0
dti                            0
delinq_2yrs                   16
inq_last_6mths                16
open_acc                       0
pub_rec                       16
revol_bal                      0
revol_util                     0
total_acc                      0
initial_list_status            0
total_rec_int                  0
total_rec_late_fee             0
recoveries                     0
collection_recovery_fee        0
collections_12_mths_ex_med    95
application_type               0
last_week_pay                  0
acc_now_delinq                16
tot_coll_amt                   0
tot_cur_bal                    0
total_rev_hi_lim               0
loan_status                    0
dtype: int64

In [46]:
df['emp_length']=df['emp_length'].fillna(0)

In [47]:
df['emp_length'].isnull().sum()

0

In [53]:
df['tot_coll_amt'].median()

0.0

In [60]:
cols = ['term', 'loan_amnt', 'funded_amnt', 'last_week_pay', 'int_rate',  'annual_inc', 'dti',  'open_acc', 'revol_bal', 'revol_util', 'total_acc', 'total_rec_int','tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim', 'emp_length']
for col in cols:
    print('Imputation with Median: %s' % (col))
    df[col].fillna(df[col].median(), inplace=True)

Imputation with Median: term
Imputation with Median: loan_amnt
Imputation with Median: funded_amnt
Imputation with Median: last_week_pay
Imputation with Median: int_rate
Imputation with Median: annual_inc
Imputation with Median: dti
Imputation with Median: open_acc
Imputation with Median: revol_bal
Imputation with Median: revol_util
Imputation with Median: total_acc
Imputation with Median: total_rec_int
Imputation with Median: tot_coll_amt
Imputation with Median: tot_cur_bal
Imputation with Median: total_rev_hi_lim
Imputation with Median: emp_length

In [55]:
df['term'] = df['term'].str.extract('(\d+)', expand=False)

In [56]:
df['term'] = df['term'].astype(int)

In [69]:
cols = ['acc_now_delinq', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'collections_12_mths_ex_med',
       'delinq_2yrs','inq_last_6mths','pub_rec']
for col in cols:
    print('Imputation with Zero: %s' % (col))
    df[col].fillna(0, inplace=True)

Imputation with Zero: acc_now_delinq
Imputation with Zero: total_rec_late_fee
Imputation with Zero: recoveries
Imputation with Zero: collection_recovery_fee
Imputation with Zero: collections_12_mths_ex_med
Imputation with Zero: delinq_2yrs
Imputation with Zero: inq_last_6mths
Imputation with Zero: pub_rec

In [70]:
df.isnull().sum()

member_id                     0
loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
term                          0
int_rate                      0
grade                         0
emp_length                    0
home_ownership                0
annual_inc                    0
verification_status           0
pymnt_plan                    0
purpose                       0
dti                           0
delinq_2yrs                   0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                    0
total_acc                     0
initial_list_status           0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
collections_12_mths_ex_med    0
application_type              0
last_week_pay                 0
acc_now_delinq                0
tot_coll_amt                  0
tot_cur_bal                   0
total_rev_hi_lim              0
loan_status                   0
dtype: int64

In [68]:
df['pub_rec'].median()

0.0

In [78]:
df['purpose'].value_counts()

debt_consolidation    314989
credit_card           123670
home_improvement       31087
other                  25652
major_purchase         10284
small_business          6146
car                     5266
medical                 5117
moving                  3243
vacation                2812
house                   2170
wedding                 1401
renewable_energy         331
educational              260
Name: purpose, dtype: int64

In [90]:
le=['grade','home_ownership','verification_status','purpose','initial_list_status','application_type','pymnt_plan']
for i in le:
    print(df[i].value_counts())

1    152713
2    147499
0     89107
3     83567
4     42495
5     13826
6      3221
Name: grade, dtype: int64
1    265940
5    213668
4     52664
3       117
2        36
0         3
Name: home_ownership, dtype: int64
1    197750
2    174702
0    159976
Name: verification_status, dtype: int64
2     314989
1     123670
4      31087
9      25652
6      10284
11      6146
0       5266
7       5117
8       3243
12      2812
5       2170
13      1401
10       331
3        260
Name: purpose, dtype: int64
0    274018
1    258410
Name: initial_list_status, dtype: int64
0    532123
1       305
Name: application_type, dtype: int64
n    532420
y         8
Name: pymnt_plan, dtype: int64

In [91]:
le

['grade',
 'home_ownership',
 'verification_status',
 'purpose',
 'initial_list_status',
 'application_type',
 'pymnt_plan']

In [92]:
import numpy as np
# Encode Label for Classifier
from sklearn.preprocessing import LabelEncoder

cat_cols = ['grade', 'sub_grade', 'emp_length', 'home_ownership', 'verification_status', 
            'pymnt_plan', 'purpose', 'initial_list_status', 'application_type', 
            'verification_status_joint', 'zip_code', 'addr_state']
le1 = {}

for col in le:
    le1[col] = LabelEncoder()
    df[col] = le1[col].fit_transform(df[col])
    le1[col].classes_ = np.append(le1[col].classes_, 'other')
    
    print('Encoded: ', col)

Encoded:  grade
Encoded:  home_ownership
Encoded:  verification_status
Encoded:  purpose
Encoded:  initial_list_status
Encoded:  application_type
Encoded:  pymnt_plan

In [93]:
df.iloc[0]

member_id                     58189336.00
loan_amnt                        14350.00
funded_amnt                      14350.00
funded_amnt_inv                  14350.00
term                                36.00
int_rate                            19.19
grade                                4.00
emp_length                           9.00
home_ownership                       4.00
annual_inc                       28700.00
verification_status                  1.00
pymnt_plan                           0.00
purpose                              2.00
dti                                 33.88
delinq_2yrs                          0.00
inq_last_6mths                       1.00
open_acc                            14.00
pub_rec                              1.00
revol_bal                        22515.00
revol_util                          73.10
total_acc                           28.00
initial_list_status                  0.00
total_rec_int                     1173.84
total_rec_late_fee                   0.00
recoveries                           0.00
collection_recovery_fee              0.00
collections_12_mths_ex_med           0.00
application_type                     0.00
last_week_pay                       26.00
acc_now_delinq                       0.00
tot_coll_amt                         0.00
tot_cur_bal                      28699.00
total_rev_hi_lim                 30800.00
loan_status                          0.00
Name: 0, dtype: float64

In [102]:
from sklearn.model_selection import train_test_split
X=df.drop(['loan_status','member_id'],axis=1)
y=df[['loan_status']]
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=.30,random_state =123)

In [103]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_curve, roc_auc_score

In [104]:
    rf = RandomForestClassifier(n_estimators=100, verbose=5, n_jobs=-1)
    rf.fit(X_train, y_train)

/usr/lib/python3/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.

building tree 1 of 100
building tree 2 of 100
building tree 3 of 100
building tree 4 of 100
building tree 5 of 100
building tree 6 of 100
building tree 7 of 100
building tree 8 of 100
building tree 9 of 100
building tree 10 of 100
building tree 11 of 100
building tree 12 of 100
building tree 13 of 100
building tree 14 of 100

[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    6.1s

building tree 15 of 100
building tree 16 of 100
building tree 17 of 100
building tree 18 of 100
building tree 19 of 100
building tree 20 of 100
building tree 21 of 100
building tree 22 of 100
building tree 23 of 100
building tree 24 of 100
building tree 25 of 100
building tree 26 of 100
building tree 27 of 100
building tree 28 of 100
building tree 29 of 100
building tree 30 of 100
building tree 31 of 100
building tree 32 of 100
building tree 33 of 100
building tree 34 of 100
building tree 35 of 100
building tree 36 of 100
building tree 37 of 100
building tree 38 of 100
building tree 39 of 100
building tree 40 of 100building tree 41 of 100

building tree 42 of 100
building tree 43 of 100
building tree 44 of 100
building tree 45 of 100
building tree 46 of 100
building tree 47 of 100
building tree 48 of 100
building tree 49 of 100
building tree 50 of 100
building tree 51 of 100
building tree 52 of 100
building tree 53 of 100
building tree 54 of 100
building tree 55 of 100
building tree 56 of 100
building tree 57 of 100
building tree 58 of 100
building tree 59 of 100
building tree 60 of 100
building tree 61 of 100
building tree 62 of 100
building tree 63 of 100
building tree 64 of 100
building tree 65 of 100
building tree 66 of 100
building tree 67 of 100
building tree 68 of 100

[Parallel(n_jobs=-1)]: Done  64 tasks      | elapsed:   33.6s

building tree 69 of 100
building tree 70 of 100
building tree 71 of 100
building tree 72 of 100
building tree 73 of 100
building tree 74 of 100
building tree 75 of 100
building tree 76 of 100
building tree 77 of 100
building tree 78 of 100
building tree 79 of 100
building tree 80 of 100
building tree 81 of 100
building tree 82 of 100
building tree 83 of 100
building tree 84 of 100
building tree 85 of 100
building tree 86 of 100
building tree 87 of 100
building tree 88 of 100
building tree 89 of 100
building tree 90 of 100
building tree 91 of 100
building tree 92 of 100
building tree 93 of 100
building tree 94 of 100
building tree 95 of 100
building tree 96 of 100
building tree 97 of 100
building tree 98 of 100
building tree 99 of 100
building tree 100 of 100

[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   51.9s finished

RandomForestClassifier(n_jobs=-1, verbose=5)

In [105]:
preds = rf.predict(X_test)
fpr1, tpr1, thr1 = roc_curve(y_test['loan_status'], preds)
auc1 = roc_auc_score(y_test['loan_status'], preds)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  10 tasks      | elapsed:    0.4s
[Parallel(n_jobs=4)]: Done  64 tasks      | elapsed:    1.8s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    2.8s finished

In [106]:
print(auc1)
rf.score(X_test, y_test)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.

0.6750395296174366

[Parallel(n_jobs=4)]: Done  10 tasks      | elapsed:    0.3s
[Parallel(n_jobs=4)]: Done  64 tasks      | elapsed:    1.9s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    2.8s finished

0.8419009697675438

In [107]:
fi = list(zip(X_train.columns.values, rf.feature_importances_))
fi = sorted(fi, key=lambda x: -x[1])
pd.DataFrame(fi, columns=["Feature","Importance"])

                       Feature  Importance
0                last_week_pay    0.114115
1                  tot_cur_bal    0.092196
2             total_rev_hi_lim    0.086329
3                     int_rate    0.065840
4                total_rec_int    0.062744
5                          dti    0.059124
6                    revol_bal    0.051007
7                   revol_util    0.049525
8                   annual_inc    0.044417
9                    total_acc    0.041425
10             funded_amnt_inv    0.036586
11                    open_acc    0.033671
12         initial_list_status    0.032491
13                   loan_amnt    0.032201
14                 funded_amnt    0.032026
15                  emp_length    0.024299
16                       grade    0.020398
17                     purpose    0.016514
18              inq_last_6mths    0.015599
19                        term    0.014192
20         verification_status    0.013385
21                  recoveries    0.012425
22                tot_coll_amt    0.011545
23              home_ownership    0.010119
24                 delinq_2yrs    0.009044
25     collection_recovery_fee    0.008741
26                     pub_rec    0.006965
27          total_rec_late_fee    0.001710
28  collections_12_mths_ex_med    0.000873
29              acc_now_delinq    0.000484
30            application_type    0.000006
31                  pymnt_plan    0.000005

In [110]:
df.columns

Index(['member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term',
       'int_rate', 'grade', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'pymnt_plan', 'purpose', 'dti', 'delinq_2yrs',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'collections_12_mths_ex_med', 'application_type', 'last_week_pay',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim',
       'loan_status'],
      dtype='object')

In [118]:
from sklearn.feature_selection import VarianceThreshold
#data=pd.read_csv('train_indessa.csv')
var_thresh = VarianceThreshold(threshold=0.1)
transformed_data = var_thresh.fit_transform(df)

In [119]:
transformed_data

array([[5.8189336e+07, 1.4350000e+04, 1.4350000e+04, ..., 2.8699000e+04,
        3.0800000e+04, 0.0000000e+00],
       [7.0011223e+07, 4.8000000e+03, 4.8000000e+03, ..., 9.9740000e+03,
        3.2900000e+04, 0.0000000e+00],
       [7.0255675e+07, 1.0000000e+04, 1.0000000e+04, ..., 3.8295000e+04,
        3.4900000e+04, 0.0000000e+00],
       ...,
       [7.3576070e+06, 1.8725000e+04, 1.8725000e+04, ..., 2.6010000e+04,
        2.4200000e+04, 1.0000000e+00],
       [2.3182668e+07, 2.1000000e+04, 2.1000000e+04, ..., 2.9197000e+04,
        2.3300000e+04, 0.0000000e+00],
       [4.6122259e+07, 1.0000000e+04, 1.0000000e+04, ..., 4.7866000e+04,
        2.1700000e+04, 0.0000000e+00]])

In [113]:
selected_cols = ['member_id', 'emp_length', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'sub_grade', 'int_rate',
                 'annual_inc', 'dti', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'revol_bal',
                 'revol_util', 'total_acc', 'total_rec_int', 'total_rec_late_fee', 'mths_since_last_major_derog',
                 'last_week_pay', 'tot_cur_bal', 'total_rev_hi_lim', 'tot_coll_amt', 'recoveries',
                 'collection_recovery_fee', 'term', 'acc_now_delinq', 'collections_12_mths_ex_med']
col=df.columns.tolist()

In [115]:
x=[i for i in col if i not in selected_cols]
x

['grade',
 'home_ownership',
 'verification_status',
 'pymnt_plan',
 'purpose',
 'delinq_2yrs',
 'inq_last_6mths',
 'pub_rec',
 'initial_list_status',
 'application_type',
 'loan_status']

In [121]:
X=df.drop(['loan_status','member_id','home_ownership',
 'verification_status',
 'pymnt_plan',
 'purpose',
 'delinq_2yrs',
 'inq_last_6mths',
 'pub_rec',
 'initial_list_status',
 'application_type'],axis=1)
y=df[['loan_status']]

In [122]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=.30,random_state =123)
rf = RandomForestClassifier(n_estimators=100, verbose=5, n_jobs=-1)
rf.fit(X_train, y_train)

/usr/lib/python3/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.

building tree 1 of 100
building tree 2 of 100
building tree 3 of 100
building tree 4 of 100
building tree 5 of 100
building tree 6 of 100
building tree 7 of 100
building tree 8 of 100
building tree 9 of 100
building tree 10 of 100
building tree 11 of 100
building tree 12 of 100
building tree 13 of 100
building tree 14 of 100

[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    6.2s

building tree 15 of 100
building tree 16 of 100
building tree 17 of 100
building tree 18 of 100
building tree 19 of 100
building tree 20 of 100
building tree 21 of 100
building tree 22 of 100
building tree 23 of 100
building tree 24 of 100
building tree 25 of 100
building tree 26 of 100
building tree 27 of 100
building tree 28 of 100
building tree 29 of 100
building tree 30 of 100
building tree 31 of 100
building tree 32 of 100
building tree 33 of 100
building tree 34 of 100
building tree 35 of 100
building tree 36 of 100
building tree 37 of 100
building tree 38 of 100
building tree 39 of 100
building tree 40 of 100
building tree 41 of 100
building tree 42 of 100
building tree 43 of 100
building tree 44 of 100
building tree 45 of 100
building tree 46 of 100
building tree 47 of 100
building tree 48 of 100
building tree 49 of 100
building tree 50 of 100
building tree 51 of 100
building tree 52 of 100
building tree 53 of 100
building tree 54 of 100
building tree 55 of 100
building tree 56 of 100
building tree 57 of 100
building tree 58 of 100
building tree 59 of 100
building tree 60 of 100
building tree 61 of 100
building tree 62 of 100
building tree 63 of 100
building tree 64 of 100
building tree 65 of 100
building tree 66 of 100
building tree 67 of 100

[Parallel(n_jobs=-1)]: Done  64 tasks      | elapsed:   34.2s

building tree 68 of 100
building tree 69 of 100
building tree 70 of 100
building tree 71 of 100
building tree 72 of 100
building tree 73 of 100
building tree 74 of 100
building tree 75 of 100
building tree 76 of 100
building tree 77 of 100
building tree 78 of 100
building tree 79 of 100
building tree 80 of 100
building tree 81 of 100
building tree 82 of 100
building tree 83 of 100
building tree 84 of 100
building tree 85 of 100
building tree 86 of 100
building tree 87 of 100
building tree 88 of 100
building tree 89 of 100
building tree 90 of 100
building tree 91 of 100
building tree 92 of 100
building tree 93 of 100
building tree 94 of 100
building tree 95 of 100
building tree 96 of 100
building tree 97 of 100
building tree 98 of 100
building tree 99 of 100
building tree 100 of 100

[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   52.5s finished

RandomForestClassifier(n_jobs=-1, verbose=5)

In [123]:
preds = rf.predict(X_test)
fpr1, tpr1, thr1 = roc_curve(y_test['loan_status'], preds)
auc1 = roc_auc_score(y_test['loan_status'], preds)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  10 tasks      | elapsed:    0.3s
[Parallel(n_jobs=4)]: Done  64 tasks      | elapsed:    1.6s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    2.4s finished

In [124]:
print(auc1)
rf.score(X_test, y_test)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.

0.686982341943642

[Parallel(n_jobs=4)]: Done  10 tasks      | elapsed:    0.3s
[Parallel(n_jobs=4)]: Done  64 tasks      | elapsed:    1.5s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    2.3s finished

0.8477546344120354

In [125]:
fi = list(zip(X_train.columns.values, rf.feature_importances_))
fi = sorted(fi, key=lambda x: -x[1])
pd.DataFrame(fi, columns=["Feature","Importance"])

                       Feature  Importance
0                last_week_pay    0.124272
1                  tot_cur_bal    0.108408
2             total_rev_hi_lim    0.098134
3                     int_rate    0.085010
4                total_rec_int    0.072518
5                          dti    0.063976
6                    revol_bal    0.056427
7                   revol_util    0.054549
8                   annual_inc    0.048834
9                    total_acc    0.044694
10             funded_amnt_inv    0.038896
11                    open_acc    0.035916
12                 funded_amnt    0.033963
13                   loan_amnt    0.033718
14                  emp_length    0.026101
15                       grade    0.021922
16                        term    0.016581
17                  recoveries    0.012031
18                tot_coll_amt    0.011619
19     collection_recovery_fee    0.008946
20          total_rec_late_fee    0.001971
21  collections_12_mths_ex_med    0.000945
22              acc_now_delinq    0.000570

In [ ]:
if X['funded_amnt_inv']!=0:
    X['loan_to_income'] = X['annual_inc']/X['funded_amnt_inv']
#finalTest['loan_to_income'] = finalTest['annual_inc']/finalTest['funded_amnt_inv']

X['avl_lines'] = X['total_acc'] - X['open_acc']
#finalTest['avl_lines'] = finalTest['total_acc'] - finalTest['open_acc']


# Interest paid so far
X['int_paid'] = X['total_rec_int'] + X['total_rec_late_fee']
#finalTest['int_paid'] = finalTest['total_rec_int'] + finalTest['total_rec_late_fee']


# Calculating EMIs paid (in terms of percent)
X['emi_paid_progress_perc'] = ((X['last_week_pay']/(X['term']/12*52+1))*100)
#finalTest['emi_paid_progress_perc'] = ((finalTest['last_week_pay']/(finalTest['term']/12*52+1))*100)


# Calculating total repayments received so far, in terms of EMI or recoveries after charge off
X['total_repayment_progress'] = ((X['last_week_pay']/(X['term']/12*52+1))*100) + ((X['recoveries']/X['funded_amnt_inv']) * 100)
#finalTest['total_repayment_progress'] = ((finalTest['last_week_pay']/(finalTest['term']/12*52+1))*100) + ((finalTest['recoveries']/finalTest['funded_amnt_inv']) * 100)

In [127]:
for i,j in df.items():
    print(i,j)
    break

member_id 0         58189336
1         70011223
2         70255675
3          1893936
4          7652106
            ...
532423    31296187
532424    29403184
532425     7357607
532426    23182668
532427    46122259
Name: member_id, Length: 532428, dtype: int64

In [1]:
df.desrcibe()

NameError: name 'df' is not defined